{% extends 'base.html.twig' %}

{% block body %}


	<section class="cont-home">

		<section class="caroussel">
			<img src="{{ asset('upload/test.jpg') }}" alt="">
		</section>
		<section class="box-home">
			<article class="box box-left">
				{% for articles in article %}
					<article>


						<h2 class="title">{{ articles.title }}</h2>
						<div class="metadata">Ecrit le
							{{ articles.createdAt | date('d/m/Y') }}
							à
							{{ articles.createdAt | date('H:i') }}
						</div>
						<div class="content">
							<img src="{{ articles.image }}" alt="">
							{{ articles.content| raw }}
							<a href="#" class="btn">voir</a>
						</div>
					</article>
				{% endfor %}

			</article>

			<article class="box box-right">
				<div class="recherche">
					<h4>Rechercher quelque chose</h4>
					<input
					type="text" placeholder="Rechercher">
					{# <div class="btn-heade " type="submit"> #}
					<i class="fa fa-search"></i>
					{# </div> #}
				</div>
				<h4>Dernier Article</h4>
				{% for article in lastArticle %}
					<div class="last-post">


						<div class="last-post-img">
							<img src="{{ article.image }}" alt="">
						</div>
						<div class="last-post-content">
							<h5 class="title">{{ article.title }}</h5>
							<p class="metadata">Ecrit le
								{{ article.createdAt | date('d/m/Y') }}
								à
								{{ article.createdAt | date('H:i') }}
							</p>
						</div>


					</div>
				{% endfor %}
			</article>

		</section>

	</section>


{% endblock %}
